/hw4/hw4.X/dist/
/hw4/hw4.X/build/
/hw5/hw5.X/build/
/hw5/hw5.X/dist/
/hw5/hw7.X/dist/
/hw5/hw7.X/build/
/hw7/hw7.X/build/
/hw7/hw7.X/dist/
/hw8/hw8.X/build/
/hw8/hw8.X/dist/
/hw9/hw9.X/dist/
/hw9/hw9.X/build/
/hw10/hw10.X/build/
/hw10/hw10.X/dist/